<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <h2 class="form-header">Update a City</h2>
        <h3 class="error-message">{{ message }}</h3>
        <form action="/cities-update/{{defaults.city_id}}" method="post">
            <label for="city_name">City Name: </label>
            <input type="text" id="city_name" name="city_name" value="{{defaults.city_name}}" required><br>
            <select id="country_name" name="country_id">
                <option value="" disabled>Select a Country</option>
                {% for country in countries %}
                    <option value="{{ country.country_id }}" {% if country.country_id == defaults.country_id %}selected{% endif %}>{{ country.country_name }}</option>
                {% endfor %}
            </select>
            <!-- <label for="country_name">Country: </label>
            <input type="text" id="country_name" name="country_name" value="{{country_name}}" required><br> -->
            <div class="form-actions">
                <input type="submit" class="submit-button" value="Submit">
                <a href="/cities" class="cancel-button">Cancel</a>
            </div>
        </form>
    </body>
</html>
