<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <h1>{{message}}</h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <h2 class="form-header">Add a New Hero</h2>
        <h3 class="error-message">{{ message }}</h3>
        <form action="/heroes-add" method="post">
            <label for="pseudonym">Pseudonym: </label>
            <input type="text" id="pseudonym" name="pseudonym" required><br>
            <label for="first-name">First Name: </label>
            <input type="text" id="first-name" name="first-name" required><br>
            <label for="last-name">Last Name: </label>
            <input type="text" id="last-name" name="last-name" required><br>
            <label for="city_name">City Name: </label>
            <select id="city_name" name="city_id" required>
                <option value="" disabled selected>Select a city</option>
                {% for city in cities %}
                    <option value="{{ city.city_id }}">{{ city.city_name }}</option>
                {% endfor %}
            </select>
            <div class="form-actions">
                <input type="submit" class="submit-button" value="Submit">
                <a href="/heroes" class="cancel-button">Cancel</a>
            </div>
        </form>
    </body>
</html>
