<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <h2 class="form-header">Update a Mission</h2>
        <h3 class="error-message">{{ message }}</h3>
        <form action="/missions-update/{{defaults.mission_id}}" method="post">
            <label for="mission_name">Mission Codename: </label>
            <input type="text" id="mission_name" name="mission_name" value="{{defaults.mission_codename}}"><br>
            <label for="hero_name">Hero Name: </label>
            <select id="hero_name" name="hero_id">
                <!-- <option value="" disabled>Select a hero</option> -->
                {% for hero in heroes %}
                    <option value="{{ hero.hero_id }}" {% if hero.hero_id == defaults.hero_id %}selected{% endif %}>{{ hero.pseudonym }}</option>
                {% endfor %}
            </select>
            <label for="villain_name">Villain Name: </label>
            <p style="margin-left: 48%;">{{defaults.villain_name}}</p> <!-- add class to center it later -->
            <!-- <select id="villain_name" name="villain_id" required>
                <option value="" disabled>Select a villain</option>
                {% for villain in villains %}
                    <option value="{{ villain.villain_id }}" {% if villain.villain_id == defaults.villain_id %}selected{% endif %}>{{ villain.pseudonym }}</option>
                {% endfor %}
            </select> -->
            <label for="city_name">City Name: </label>
            <select id="city_name" name="city_id" required>
                <!-- <option value="" disabled>Select a city</option> -->
                {% for city in cities %}
                    <option value="{{ city.city_id }}" {% if city.city_id == defaults.city_id %}selected{% endif %}>{{ city.city_name }}</option>
                {% endfor %}
            </select>
            <label for="description">Mission Description: </label>
            <input type="text" id="description" name="description" value="{{defaults.description}}" required><br>
            <div class="form-actions">
                <input type="submit" class="submit-button" value="Submit">
                <a href="/missions" class="cancel-button">Cancel</a>
            </div>
        </form>
    </body>
</html>
