<!DOCTYPE html>
<html lang="en">
    <script src="{{ url_for('static', filename='handlePowerSubmit.js' )}}"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <h1>{{message}}</h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <h2 class="form-header">Add a New {{ people_type_singular.capitalize() }}</h2>
        <h3 class="error-message">{{ message }}</h3>
        <form id="person-form" action="/{{ people_type_plural }}-add" method="post" onsubmit="handleSubmit(event)">
            <label for="pseudonym">Pseudonym: </label>
            <input type="text" id="pseudonym" name="pseudonym" required><br>
            <label for="first-name">First Name: </label>
            <input type="text" id="first-name" name="first_name"><br>
            <label for="last-name">Last Name: </label>
            <input type="text" id="last-name" name="last_name"><br>
            <label for="city_name">{{ city_type.capitalize() }}: </label>
            <select id="city_name" name="city_id">
                <option value="" selected>Select a city (or choose this to leave blank)</option>
                {% for city in cities %}
                    <option value="{{ city.city_id }}">{{ city.city_name }}</option>
                {% endfor %}
            </select>
            <!-- This is just an example, the actual implementation would probably look pretty different once actual data is used -->
            <label>Powers:</label>
            <div id="power-select">
                <fieldset id="available-power-list">
					<legend>Available</legend>
					{% for power in powers %}
					<input type="checkbox" name="power_id:{{ power.power_id }}" />
					<label for="power_id:{{ power.power_id }}">{{ power.name }}</label>
					{% endfor %}
                </fieldset>
                <fieldset id="chosen-power-list">
					<legend>Selected</legend>
                </fieldset>
            </div>
            <script>
                const inputs = [...document.getElementById('available-power-list').childNodes].filter(child => child.nodeName === 'INPUT')
                const labels = [...document.getElementById('available-power-list').childNodes].filter(child => child.nodeName === 'LABEL')
                const chosen_power_list = document.getElementById('chosen-power-list')

                // make sure boxes are unchecked (they normally keep their checked state on reload)
                for (input of inputs) input.checked = false

                function updateChosenPower(input, label) {
                    // add power to chosen list if checked, remove it if unchecked
                    if (input.checked) {
                        const added_power = document.createElement('p')

                        added_power.setAttribute('id', `power-${label.textContent}`)
                        added_power.textContent = label.textContent
                        added_power.addEventListener('click', () => {
                            added_power.remove()
                            input.checked = false
                        })

                        chosen_power_list.appendChild(added_power)
                    } else {
                        const removed_power = document.getElementById(`power-${label.textContent}`)

                        removed_power.remove()
                    }
                }

                for (let [index, input] of inputs.entries()) {
                    input.addEventListener('change', () => updateChosenPower(input, labels[index]))
                }
            </script>
            <div class="form-actions">
                <input type="submit" class="submit-button" value="Submit">
                <a href="/{{ people_type_plural }}" class="cancel-button">Cancel</a>
            </div>
        </form>
    </body>
</html>
