<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <h1>{{message}}</h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <section class="table">
            <div class="header">
                <a href="/{{ people_type_plural }}-add" class="button">Add {{ people_type_singular.capitalize() }}</a>
                <h2 class="table-header">{{ people_type_plural.capitalize() }}</h2>
            </div>
            <table>
                <tr>
                    <th>Pseudonym</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>{{ city_type }}</th>
                    <th>Powers</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item.pseudonym }}</td>
                    <td>{{ "" if item.first_name == "NULL" else item.first_name }}</td>
                    <td>{{ "" if item.last_name == "NULL" else item.last_name }}</td>
                    <td>{{ item.city if item.city else "UNKNOWN" }}</td>
                    <td>
                        <ul>
                            {% for power in item.powers %}
                           	<li>{{ power }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="update-cell"><a href="/{{ people_type_plural }}-update/{{ item.id }}" class="update-link">Edit</a></td>
                    <td class="delete-cell"><a href="/{{ people_type_plural }}-delete/{{ item.id }}" class="delete-link" onclick="return confirm('Are you sure?');">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </body>
</html>
