<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <h1>{{message}}</h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/villains">Villains</a></li>
                <li><a href="/missions">Missions</a></li>
                <li><a href="/powers">Powers</a></li>
            </ul>
        </nav>
        <form action="/powers-add" method="post">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" value="{{power.name}} required><br>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" value="{{power.description}} required><br>
            <div class="form-actions">
                <input type="submit" class="submit-button" value="Submit">
                <a href="/powers" class="cancel-button">Cancel</a>
            </div>
        </form>
    </body>
</html>
