body {
    background-color: rgb(6, 52, 181);
    background-image: url("images/marvel-shield.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    scroll-padding-top: 50px;
}

h1, h2, h3, h4, h5 {
    color: white;
    text-align: center;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto; /* Ensures the table is centered */
}

th, td {
    border: 2px solid #dddddd;
    text-align: left;
    background-color: #000000a8;
    padding: 8px;
}

th {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-right: auto;
}

.button:hover {background-color: #45a049;}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 100px auto 20px;
}

.navbar {
    background-color: #333;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

.nav-links a:hover {
    background-color: #555;
}

.update-link, .delete-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.update-cell, .delete-cell {
    padding: 0px;
}

.update-link {
    background-color: #1519ff;
}

.update-link:hover {
    background-color: #0003c7;
}

.delete-link {
    background-color: #df0000;
}

.delete-link:hover {
    background-color: #a00000;
}

.table-header {
    flex-grow: 1;
}

.table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.welcome, .table-header {
    text-align: center;
    font-size: larger;
}

.welcome {
    margin-top: 100px;
}
